.footer-title{
    font: bold 21px Arial, Helvetica, "Helvetica Neue";
    color: #d32323;
    text-align: center;
    margin: 30px 0 0 0;
}

.about-links{
    text-align: center;
    margin: 10px;
}
.about-link{
    margin: 10px;
}
.about-link p{
    font: 14px Arial, Helvetica, "Helvetica Neue";
    text-decoration: none;    
    color: #0073BB
}

.about-link a{
    font: 14px Arial, Helvetica, "Helvetica Neue";
    text-decoration: none;    
    color: #0073BB
}
.about-link a:hover{
    text-decoration: underline;
}

.about-link:visited{
    text-decoration: none;
    color: #0073BB
}

.bottom-image{
    width: 100%;
    min-width: 900px;
}

.footer-stuff{
    display: flex;
    justify-content: center;
}

.footer-about{
    margin: 10px 50px 10px 50px;
    min-width: 150px;
}

