.business-page-top{
    background-color: rgb(250, 250, 250);
    height: 130px;
    width: 100%;
    min-width: 800px;
}

.business-intro-container{
    height: 400px;
}

.business-page-link-container{
    height: 100px;
}

.business-location-hour-container{
    height: 400px;
    background-color:#F5F5F5;
}

.business-reviews-container{
    height: 400px;
}

.search-box-container-splash{
    min-width: 1000px;
}

/* .top-content-container{
    /* display: flex; */


.top-header-container{
    display: flex;
}

.business-pictures{
    height: 100%;
    width: 100%;
    min-width: 400px;
}

.business-intro-container{
    height: 426px;
}

.business-intro-text :first-child{
    position: relative;
    bottom: 200px;
    font-size: 48px;
    font-weight: bolder;
    font-family: Helvetica, Poppins, "Helvetica Neue";
    color: #ffffff;
    margin-left: 141px;
}

.business-intro-text p{
    position: relative;
    bottom: 200px;
    font-size: 24px;
    font-family: "Poppins",Helvetica,Arial,sans-serif;
    color: #ffffff;
    margin-left: 141px;
}

.business-pictures-container{
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.top-header-review-link{
    text-decoration: none;
    color: #2B273C;
    font-size: 14px;
    font-family: "Open Sans",Helvetica,"Helvetica Neue";
    font-weight:800;
    position: relative;
    top: 40px;
    left: 142px;
}
