.business-page-top{
    background-color: white;
    height: 300px;
    width: 100%;
    min-width: 800px;
}

.business-intro-container{
    height: 400px;
}

.business-page-link-container{
    height: 100px;
}

.business-location-hour-container{
    height: 400px;
}

.business-reviews-container{
    height: 800px;
}

.search-box-container-splash{
    min-width: 1000px;
}