.best-in{
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    font-size: 24px;
    font-weight: bold;
    margin: 40px;
    margin-left: 80px;
}

.business-page-top-index{
    background-color: rgb(250, 250, 250);
    height: 120px;
    width: 100%;
    min-width: 800px;
    border-bottom: rgb(235, 235, 235) 1px solid;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.b_index_pic{
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin: 25px;
}

.all-results{
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 80px;
}
.results{
    margin-left: 80px;
}

.each-result{
    width: 740px;
    height: 300px;
    transition: box-shadow .3s;
    display: flex;

}
.each-result-container{
    width: 740px;
    height: 300px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEF;
    border-radius: 4px;
}
.each-result-link{
    width: 740px;
    height: 300px;
}

.each-result:hover{

}

.result-info{
    margin-top: 25px;
}

.result-name{
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    font-size: 20px;
    font-weight: bold;
    color: #2B273C;
    display: flex;
}

.result-name-name{
    margin-left: 5px;
}
.result-name-name:hover{
    text-decoration: underline;
}

.result-link{
    text-decoration: none;
}

.result-categories{
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    font-size: 14px;
    color: #757280;
    margin-left: 1px;
    margin-top: 10px;
}

.result-bullet{
    margin-left: 10px;
    margin-right: 10px;
}