.business-page-top{
    background-color: rgb(250, 250, 250);
    height: 130px;
    width: 100%;
    min-width: 800px;
}

.business-intro-container{
    height: 400px;
}

.business-page-link-container{
    height: 97px;
    border-bottom: 1px solid lightgrey;
    margin-left: 141px;
    margin-right: 141px;
}

.business-location-hour-container{
    height: 400px;
    justify-content: center;
    margin-left: 141px;
    margin-right: 141px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.search-box-container-splash{
    min-width: 1000px;
}

/* .top-content-container{
    /* display: flex; */


.top-header-container{
    display: flex;
}

.business-pictures{
    height: 100%;
    width: 100%;
    min-width: 400px;
    opacity: 0.8;
    object-fit: cover;
}
.business-intro{
    position: relative;
    display: flex;
    bottom: 194px;
}
.business-intro-container{
    height: 426px;
}
.business-intro-text{
    min-width: 600px;
}
.business-intro-text :first-child{
    font-size: 48px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    /* margin-left: 141px; */
}

.business-intro-text p{
    font-size: 18px;
    font-family: "",Helvetica,Arial,sans-serif;
    color: #ffffff;
    margin-left: 141px;
    margin-bottom: 10px;
}

.business-pictures-container{
    height: 100%;
    position: relative;
    width: 100%;
    display: inline-flex;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 65%);
}

.business-pictures-container::after{
    background-blend-mode: overlay;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 55%, rgba(0,0,0,1) 100%);
    content: "";
    width: 100%;
    height: 100%;
}

.top-header-review-link{
    text-decoration: none;
    color: #2B273C;
    font-size: 14px;
    font-family: "Open Sans",Helvetica,"Helvetica Neue";
    font-weight:800;
    position: relative;
    top: 40px;
    left: 142px;
}

.business-review-button{
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 16px;
    font-weight: normal;
    color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color: #F43939;
    width: 180px;
    outline: none;
    margin-top: 26px;
    padding-bottom: 6px;
}

.business-review-button:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 1px 1px rgb(184, 184, 184);
    outline: none;
}

.star-icon{
    width: 20px;
    position: relative;
    right: 8px;
    top: 3px;
}
.claimed{
    margin-right: 10px;
    margin-left: 3px;
}
.claimed-icon{
    margin-right: 3px;
    position: relative;
    top: 4px;
}
.category-name{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif, "Open Sans", "Helvetica";
    color: white;
    font-weight: bold;
}
.business-categories{
    position: relative;
    right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.business-categories :first-child{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif, "Open Sans", "Helvetica";
    color: rgb(32, 184, 174);
    font-weight: bold;
}

.business-intro-text span{
    color: white;
    position: relative;
    left: 141px;
    font-family: Arial, Helvetica, sans-serif, "Open Sans", "Helvetica";
    font-size: 16px;
    font-weight: bold;
}

.category-name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.dollar-sign{
    margin: 10px;
}

.bullet-2{
    margin-right: 6px;
}

.sample-map{
    width: 315px;
}

.business-location-hour-box{
    display: flex;
}

.business-street{
    font-size: 16px;
    font-weight: bold;
    color: #2B273C;
    font-family: "Open Sans", Helvetica, "Helvetica Neue", Arial;
    margin-top: 22px;
    margin-bottom: 5px;
}

.business-addy{
    font-size: 14px;
    color: #2B273C;
    font-family: "Open Sans", Helvetica, "Helvetica Neue", Arial;
}

.each-schedule-box{
    min-width: 180px;
    margin-left: 40px;
    margin-right: 30px;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    margin-bottom: 11px;
}

.schedule-day{
    width: 50px;
    margin-left: 30px;
}

.business-schedule{
    display: flex;
    position: relative;
    top: -28px;
    line-height: 25px;
}

.each-schedule-day{
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    margin-bottom: 11px;
    font-weight: 540;
}

.each-schedule-hours{
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    margin-bottom: 11px;
    font-weight: 540;
}

.location-hours-text{
    font-size: 20px;
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-top: 25px;
}

.today-hours{
    font-weight: 600;
}

.recommend-reviews{
    font-size: 20px;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    color: #2B273C;
    margin-left: 43px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.business-reviews-container{
    display: flex;
    justify-content: center;
}

#inv-star{
    display: none;
}

.str{
    color: #F43939;
}

.str-g{
    color: white;
    opacity: 0.5;
}

.rating-star-box{
    margin-left: 141px;
    margin-top: -15px;
    display: flex;
}

.num-reviews{
    position: relative;
    top: 21px;
    margin-left: -130px;
}

.map-box{
    width: 315px;
    height: 150px;
}

.business-page-covid-update{
    height: 175px;
    margin-left: 141px;
}

.covid-title{
    font-size: 20px;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    color: #2B273C;
    margin-bottom: 25px;
    margin-top: 30px;
}

.updated-service{
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    color: #2B273C;
    margin-bottom: 20px;
}

.business-show-result-bools{
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 16px;
    font-weight: 500;
    display: flex;

}

.business-show-result-boolean{
    margin-right: 12px;
}