

.login-signupsplash{
    position: relative;
    z-index: 1;
    top: 16px;
    float: right;
    display: flex;
    justify-content: flex-end;
}

.login-signupother_pages{
    position: relative;
    z-index: 1;
    bottom: 57px;
    left: 1000px;
    display: flex;
    /* justify-content: flex-end;  */
    width: 200px;
}

.nav-loggedin{
    position: relative;
    z-index: 1;
    top: 16px;
    float: right;
    display: flex;
    justify-content: flex-end;
}

.logout-buttonsplash{
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 7px 24px 8px;
    border: white solid 2px;
    border-radius: 4px;
    background: transparent;
}

.logout-buttonsplash:hover{
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    color: black;
}

.login-signup :first-child{
    margin-right: 5px
}

.session-button1splash{
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 10px 10px;
    background: transparent;
    border: none;
    outline: none;
}

.session-button1splash:active{
    color: rgb(180, 180, 180);
}

.session-button1splash:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}

.session-button2splash{
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 7px 24px 8px;
    border: white solid 2px;
    border-radius: 4px;
    background: transparent;
}

.session-button2splash:hover{
    cursor: pointer;
    transition: 0.5s;
    /* background-color: white; */
    color: black;
    background-color: white;
}

.session-button1other_pages{
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 16px;
    font-weight: bold;
    color: rgb(72, 72, 72);
    border: 1px solid grey;
    background-color: white;
    padding: 8px 16px;
    border-radius: 4px;
    height: 40px;
    margin-right: 10px;
    /* width: 80px; */
}

.session-button1other_pages:hover{
    cursor: pointer;
    background-color: lightgrey;
    transition: 00.5s;
}

.session-button2other_pages{
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 16px;
    font-weight: normal;
    color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color: #F43939;
    width: 90px;
}

.session-button2other_pages:hover{
    cursor: pointer;
    background-color: red;
    transition: 0.5s;
}

.logout-buttonother_pages{
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: black;
    padding: 7px 24px 8px;
    border: white solid 2px;
    border-radius: 4px;
    background: transparent;
}
