

.login-signupsplash{
    position: relative;
    z-index: 1;
    top: 16px;
    /* float: right; */
    display: flex;
    justify-content: flex-end;
    right: 93px;
}

.login-signupother_pages{
    /* justify-content: flex-end;  */
    width: 200px;
    position: relative;
    top: 26px;
}
.nav-loggedin-splash{
    position: relative;
    z-index: 1;
    top: 24px;
    float: right;
    display: flex;
    justify-content: flex-end;
    left: 6px;
}

.nav-loggedin-other_pages{
    position: relative;
    z-index: 1;
    top: 24px;
    display: flex;
    justify-content: flex-end;
}


.logout-buttonsplash{
    font: 14px Arial, Helvetica, "Helvetica Neue";
    color: #0073BB;
    /* padding: 7px 24px 8px; */
    border: white solid 2px;
    border-radius: 4px;
    background: transparent;
    outline: none;
    margin: 4px;
}

.logout-buttonsplash:hover{
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: underline;
}

.login-signup :first-child{
    margin-right: 5px
}

.session-button1splash{
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 10px 10px;
    background: transparent;
    border-color: transparent;
    outline: none;
    margin-right: 10px;
    height: 35px;
}

.session-button1splash:active{
    color: rgb(180, 180, 180);
    outline: none;
}

.session-button1splash:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
    outline: none;
}

.session-button2splash{
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 7px 24px 8px;
    border: white solid 2px;
    border-radius: 4px;
    background: transparent;
}

.session-button2splash:hover{
    cursor: pointer;
    transition: 0.5s;
    /* background-color: white; */
    color: black;
    background-color: white;
}

.session-button2splash:active{
    outline: none;
}

.session-button1other_pages{
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 16px;
    color: rgb(72, 72, 72);
    border: 1px solid grey;
    background-color: white;
    padding: 8px 16px;
    border-radius: 4px;
    height: 40px;
    margin-right: 10px;
    /* width: 80px; */
    outline: none;
}

.session-button1other_pages:hover{
    cursor: pointer;
    background-color: lightgrey;
    transition: 00.5s;
    outline: none;
}

.session-button2other_pages{
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 16px;
    font-weight: normal;
    color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color: #F43939;
    width: 90px;
    outline: none;
}

.session-button2other_pages:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 1px 1px rgb(184, 184, 184);
    outline: none;
    background-color: #fc1515;
}

.logout-buttonother_pages{
    font: 14px Arial, Helvetica, "Helvetica Neue";
    color: #0073BB;
    /* padding: 7px 24px 8px; */
    border: white solid 2px;
    border-radius: 4px;
    background: transparent;
    outline: none;
    margin: 4px;
}

.logout-buttonother_pages:hover{
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: underline;
}

.logout-buttonreview_pages{
    font: 14px Arial, Helvetica, "Helvetica Neue";
    color: #0073BB;
    /* padding: 7px 24px 8px; */
    border: white solid 2px;
    border-radius: 4px;
    background: transparent;
    outline: none;
    margin: 4px;
}

.logout-buttonreview_pages:hover{
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: underline;
}

.profile{
    width: 40px;
    border-radius: 4px 0 0 4px;
}

.profile:hover{
    cursor: pointer;
}

.down-arrow{
    height: 40px;
    background-color: black;
    opacity: 0.5;
    width: 20px;
    border-radius: 0 4px 4px 0;
}

.down-arrow:hover{
    background-color: black;
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
}
.profile-inner{
    width: 60px;
    margin: 12px 12px 12px 0;
    border-radius: 3px;
}

.dropdown-splash{
    position: relative;
    display: inline-block;
}

.dropdown-other_pages{
    display: inline-block;
}

/* .dropdown:hover{
    cursor: pointer;
} */

.dropdown-content-splash{
    display: none;
    position: absolute;
    min-width: 60px;
    z-index: 1;
    background-color: white;
    width: 218px;
    right: 20px;
    top: 41px;
    border-radius: 3px;
    box-shadow: 0 3px 3px darkgrey;
}

.dropdown-content-other_pages{
    display: none;
    position: absolute;
    min-width: 60px;
    z-index: 1;
    background-color: white;
    width: 218px;
    right: 20px;
    top: 41px;
    border-radius: 3px;
    box-shadow: 0 3px 3px darkgrey;
}

.dropdown-content-review_pages{
    display: none;
    /* position: absolute; */
    min-width: 60px;
    z-index: 1;
    background-color: white;
    width: 218px;
    right: 6px;
    top: 41px;
    border-radius: 3px;
    box-shadow: 0 3px 3px darkgrey;
}



/* .dropdown:hover .dropdown-content{
    display: block;
} */

.signed-on-button-splash{
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 100px;
}

.signed-on-button-review_pages{
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 100px;
    position: relative;
    left: -144px;
    bottom: 3px;
}

.signed-on-button-other_pages{
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 100px;
    position: relative;
}

/* .signed-on-button:hover{
    cursor: pointer;
} */

.show {
    display: block;
}

.dropdown-profile{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 0 12px;
}
.dropdown-profile-name{
    color: #0073BB;
    font-size: 14px;
    font-family: Arial, Helvetica, "Helvetica Neue";
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 8px;
}

.dropdown-profile-addy{
    color: #333333;
    font-size: 12px;
    font-family: Arial, Helvetica, "Helvetica Neue";
    font-weight: bold;
}

.dropdown-review_pages{
    position: relative;
    /* left: 1000px; */
    top: 27px;
}

.dropdown-content-review_pages{
    position: absolute;
    right: 20px;
}