.review-main-box{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    font-size: 15px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    width: 650px;
    line-height: 22px;
}

.review-created-time{
    margin-left: 10px;
    position: relative;
    bottom: 6px;
    font-size: 14px;
    color: #757280;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
}

.reaction-text{
    margin-left: 5px;
    position: relative;
    bottom: 3px;
}

.invisible{
    color: transparent;
}

.dropdown-review{
    position: relative;
    display: inline-block;
}

.review-dropdown-content{
    display: none;
    position: absolute;
    min-width: 60px;
    z-index: 1;
    background-color: white;
    width: 218px;
    border-radius: 3px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    right: 1px;
    color: #2B273C;
    font-size: 14px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    bottom: -120px;
}

.delete-background{
    position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.75);
   z-index: 10;
   display: none;
}

.delete-container-top{
    background-color: white;
   position: absolute;
   border-radius: 5px;
   width: 560px;
   top: 50%;
   left: 44%;
   transform: translate(-50%, -50%); 
   border: 1px solid black;
    z-index: 1000;
}

.review-top{
    display: flex;
    justify-content: space-between;
}

.review-container{
    display: flex;
    justify-content: center;
    width: 700px;
    margin-bottom: 35px;
}

.review-box{
    min-width: 700px;
}
.del-no{
    color: #00838F;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    border: none;
    background-color: white;
    outline: none;
}
.del-no:hover{
    cursor: pointer;
}
.del-yes{
    background-color: #F43939;
    color: white;
    border-radius: 4px;
    width: 155px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 25px;
}

.del-yes:hover{
    cursor: pointer;
    background-color: #ff0000;
    transition: 0.7s;
}

.review-options{
    background-color: white;
    border: none;
    color: rgb(94, 94, 94);
    outline: none;
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 15px;
}
.review-options:active{
    background-color: rgb(177, 177, 177);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.review-options:hover{
    background-color: rgb(230, 230, 230);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.edit-review{
    margin: 15px;
    padding: 15px;
}

.edit-review-text{
    text-decoration: none;
    color: black;
}

.edit-review:hover{
    background-color: rgb(232, 232, 232);
    cursor: pointer;
    border-radius: 4px;
}
.delete-review{
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 15px;
}

.delete-review:hover{
    background-color: rgb(232, 232, 232);
    cursor: pointer;
    border-radius: 4px;
}

.delete-review-header{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.delete-text{
    padding: 40px;
}

.delete-text-q{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.delete-reasons{
    list-style: disc;
    margin-left: 17px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.buttons-box{
    display: flex;
    justify-content: flex-end;
}

.delete-options{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;

}

.profile-pic-user{
    width: 65px;
    border-radius: 32px;
    margin-bottom: 10px;
}
.user-info{
    margin-left: 20px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.profile-box{
    display: flex;
}

.user-name{
    font-weight: bold;
    margin-bottom: 5px;
}