.review-main-box{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
}

.review-created-time{
    margin-left: 20px;
    position: relative;
    bottom: 6px;
    font-size: 14px;
    color: #757280;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
}

.reaction-text{
    margin-left: 5px;
    position: relative;
    bottom: 3px;
}