.review-main-box{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
}

.review-created-time{
    margin-left: 20px;
    position: relative;
    bottom: 6px;
    font-size: 14px;
    color: #757280;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
}

.reaction-text{
    margin-left: 5px;
    position: relative;
    bottom: 3px;
}

.invisible{
    color: transparent;
}

.dropdown-review{
    position: relative;
    display: inline-block;
}

.review-dropdown-content{
    display: none;
    position: absolute;
    min-width: 60px;
    z-index: 1;
    background-color: white;
    width: 218px;
    border-radius: 3px;
    box-shadow: 0 3px 3px darkgrey;
    right: 1px;
}

.delete-background{
    position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.35);
   z-index: 10;
   display: none;
}

.delete-container-top{
    background-color: white;
   position: absolute;
   border-radius: 5px;
   width: 350px;
   top: 50%;
   left: 44%;
   transform: translate(-50%, -50%); 
   height: 300px;
   border: 1px solid #25859b;
    box-shadow: 3px 3px 3px grey;
    z-index: 1000;
}

.review-top{
    display: flex;
    justify-content: space-between;
}

.review-container{
    display: flex;
    justify-content: center;
}

.review-box{
    min-width: 700px;
}