.review-form-navbar{
    height: 96px;
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.review-logo{
    height: 40px;
    margin: 27px;
}

.review-form-navbar{
    display: flex;
    justify-content: space-between;
}

.review-nav-spacefill{
    min-width: 700px;
}

.review-form-business-name{
    font-family: "Montserrat";
    font-size: 28px;
}

.review-form-texts{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.review-form-main{
    display: flex;
    justify-content: center;
    height: 900px;
}

.review-form-guide{
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    font-size: 14px;
    color: #00838F;
    margin-left: 241px;
}

.review-form-guide:hover{
    cursor: pointer;
    text-decoration: underline;
}

textarea {
    resize: none;
    width: 500px;
    height: 300px;
    border: none;
    outline: none;
    position: relative;
    top: 120px;
}

.rating-number{
    position: relative;
    left: 40px;
    bottom: 260px;
}

.review-content-box{
    border: rgb(189, 189, 189) solid 1px;
    border-radius: 4px;
    height: 450px;
    width: 631px;
}

.attach-picture{
    border: rgb(189, 189, 189) solid 1px;
    border-radius: 4px;
    width: 633px;
    height: 110px;
    
}

.attach-picture:hover{
    border: rgb(167, 167, 167) solid 2px;
    border-radius: 4px;
    cursor: pointer;
}

.review-post-button{
    position: relative;
    top: 40px;
    height: 45px;
    width: 200px;
    background-color: #F43939;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, "Helvetica Neue";
    border: none;
    border-radius: 4px;
    margin-bottom: 40px;
}
.review-post-button:hover{
    cursor: pointer;
    box-shadow: rgb(228, 228, 228) 2px 2px;
}

.review-form-attach-photos{
    font-size: 20px;
    color: #2B273C;
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 24px;
    margin-left: 5px;
}

.text-area-text{
    color: black(237, 237, 237);
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    font-size: 18px;
}

.text-area-text::-webkit-input-placeholder{
    color: black;
    opacity: 0.25;
}

.select-rating-text{
    color: black;
    font-family: "Open Sans", Helvetica, "Helvetica Neue";
    font-size: 14px;
    position: relative;
    left: 100px;
    top: 46px;
}

.add-photo-icon{
    position: relative;
    left: 300px;
    top: 44px;
}