


.search-textsplash{
    padding: 12px 13px;
    font: 18px Arial, Helvetica, "Helvetica Neue";
    border: none;
    outline: none;
    width: 360px;
}

.search-textssplash{
    width: 968px;
}

.search-word1splash{
    font: bold 18px Arial, Helvetica, "Helvetica Neue";
    color: #636262;
    font-weight: bolder;
    background-color: white;
    padding: 13px 12px;
    border-radius: 4px 0px 0px 4px;
    border-right: 1px solid rgb(142, 140, 140);
}

.search-word2splash{
    font: bold 18px Arial, Helvetica, "Helvetica Neue";
    color: rgb(99, 98, 98);
    font-weight: bolder;
    background-color: white;
    padding: 13px 13px;
    border-left: 1px, black
}

.search-icon-buttonsplash{
    position: relative;
    top: 11px;
    border: none;
    background-color: #d32323;
    border-radius: 0px 4px 4px 0px;
    height: 46px;
    width: 65px;
    outline: none;
}

.search-icon-buttonsplash:hover{
    cursor: pointer;
    background-color: #b61f1f;
    transition: 0.7s;
}




.search-textother{
    /* padding: 4px 13px; */
    font: 18px Arial, Helvetica, "Helvetica Neue";
    border: none;
    outline: none;
    width: 320px;
    
}

.search-word1other{
    font: bold 18px Arial, Helvetica, "Helvetica Neue";
    color: rgb(99, 98, 98);
    font-weight: bolder;
    background-color: white;
    padding: 16px 13px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0px 5px 5px rgb(227, 224, 224);
}

.search-word2other{
    font: bold 18px Arial, Helvetica, "Helvetica Neue";
    color: rgb(99, 98, 98);
    font-weight: bolder;
    background-color: white;
    padding: 16px 13px;
    border-left: 1px, black;
    box-shadow: 0px 5px 5px rgb(227, 224, 224);
}

.search-icon-buttonother{
    position: relative;
    top: -1px;
    border: none;
    background-color: #F43939;
    border-radius: 0px 4px 4px 0px;
    height: 50px;
    width: 56px;
    outline: none;
}

.search-icon-buttonother:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: #ff0000;
}

.search-textsother{
    display: flex;
    height: 48px;
}

.search-boxother{
    position: relative;
    left: 73px;
    top: 25px;
}