.session-form-top {
    display: flex;
    justify-content: center;
    background-color: #d32323;
    padding: 10px 0px 10px 0px;
    display: grid;
}

.welplogo {
    width: 100px;
    height: 100px;
}

.session-form-main {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 120px;
    min-height: 400px; */
}

.session-form-box form{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.session-form-header {
    font: bold 22px Arial, Helvetica, "Helvetica Neue";
    color: #d32323;
    text-decoration: none;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 50px;
}

.session-form-header-2 {
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: #333;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}

.graphics {
    height: 350px;
    margin: 50px;
}

.session-form-input {
    background-color: white;
    margin: 0px 5px 9px;
    padding: 5px 9px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    width: 100%;
}
.birthday-options {
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    margin: 0px 5px 6px;
}

.bday-smallfont{
    font: 12px Arial, Helvetica, "Helvetica Neue";
    color: grey
}

/* .birthday-options div div{
    font: 12px Arial, Helvetica, "Helvetica Neue";
    color: grey;
} */

.submit{
    background-color: #d32323;
    font: bold 16px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 13px 13px;
    margin-top: 6px;
    border: 0px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 5px;
    width: 100%;
}

.submit:hover {
    cursor: pointer;
}
.session-form-main-box{
    display: flex;
    margin: 100px 0 100px 0;
}

.birthday{
    margin-right: 3px;
    width: 100px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    color:grey;
}

.session-form-bottom {
    font: 12px Arial, Helvetica, "Helvetica Neue";
    color: grey;
    text-align: right;
    margin: 14px 0 0 0;
}
.session-form-bottom:visited{
    color: rgb(0, 106, 198);
    text-decoration: none;
}

.session-text{
    text-decoration: none;
    color: rgb(0, 106, 198);
}


.first-last-name{
    display: flex;
}

.first-last-name input{
    margin: 5px 0px 7px 5px; 
    border: 1px solid grey;
    border-radius: 3px;
    height: 30px;
    width: 135.5px;
}

.first-last-name :first-child{
    margin-right: 11px;
}

/* #wrapper{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
} */

.session-form-fillout{
    width: 300px;
}

.birthday-box{
    display: flex;
    width: 300px;
}

.birthday-texts{
    margin-bottom: 5px;
}

.demo-user-submit{
    background-color: #d32323;
    font: bold 16px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 13px 13px;
    margin-top: 6px;
    border: 0px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 5px;
    width: 100%;
}

.demo-user-submit:hover{
    cursor: pointer;
}